<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Edit Contact</mat-card-title>
    <mat-card-content>
    
      <div class="container">
        <mat-form-field>
          <input
            matInput
            placeholder="First Name"
            formControlName="firstName"
            
          />
          <mat-error *ngIf="this.contactForm.get('firstName').hasError('required')">
            First Name is required
          </mat-error>
          <mat-error *ngIf="this.contactForm.get('firstName').hasError('minlength')">
            Minimum 4 characters needed for First Name
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Middle Name"
            formControlName="middleName"
          />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName" />
          <mat-error *ngIf="this.contactForm.get('lastName').hasError('required')">
            Last Name is required
          </mat-error>
          <mat-error *ngIf="this.contactForm.get('lastName').hasError('minlength')">
            Minimum 4 characters needed for Last Name
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Birth Day" formControlName="birthDay" />
        </mat-form-field>
      </div>
      <button mat-mini-fab color="accent" (click)="addPhones()">
        <mat-icon>add</mat-icon>
      </button>

     
        <div class="container" formArrayName="phones" *ngFor="let phone of phones.controls; let i=index">
          <div [formGroupName]="i">
            <mat-radio-group formControlName="phoneTitle">
              <mat-radio-button value="Cell">Cell</mat-radio-button>
              <mat-radio-button value="Home">Home</mat-radio-button>
              <mat-radio-button value="Work">Work</mat-radio-button>
            </mat-radio-group>

            <mat-form-field>
              <input
                matInput
                placeholder="Country Code"
                formControlName="countryCode"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Phone Number"
                formControlName="phoneNumber"
              />
            </mat-form-field>
            <mat-divider></mat-divider>

          </div>
        </div>
        <div formArrayName="emails" *ngFor="let email of emails.controls; let i=index">
            <div [formGroupName]="i">
              <mat-radio-group formControlName="emailTitle">
                <mat-radio-button value="Personal">Personal</mat-radio-button>
                <mat-radio-button value="Work">Work</mat-radio-button>
              </mat-radio-group>
  
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email Id"
                  formControlName="emailId"
                />
                <mat-error *ngIf="this.contactForm.get('emailId').hasError('email')">
                  Email address invalid
                </mat-error>
              </mat-form-field>
              <mat-divider></mat-divider>
            </div>
          </div>

          <div formArrayName="addresses" *ngFor="let address of addresses.controls; let i=index">
            <div [formGroupName]="i">
              <mat-radio-group formControlName="addressTitle">
                <mat-radio-button value="Home">Home</mat-radio-button>
                <mat-radio-button value="Office">Work</mat-radio-button>
              </mat-radio-group>
  
              <mat-form-field>
                <input
                  matInput
                  placeholder="Street"
                  formControlName="street"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="City"
                  formControlName="city"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Zip Code"
                  formControlName="zipCode"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="State"
                  formControlName="state"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Country"
                  formControlName="country"
                />
              </mat-form-field>
              <mat-divider></mat-divider>
            </div>
          </div>
    </mat-card-content>
    <mat-card-footer>
      <button type="submit" mat-raised-button color="primary">
        <mat-icon>save</mat-icon> Save
      </button>
      <button (click)="goBackToList()" mat-raised-button color="accent">
        <mat-icon>undo</mat-icon> Back
      </button>
    </mat-card-footer>
  </mat-card>
</form>
{{ contactForm.value | json }}
