table {
    width: 100%;
  }
  .mat-icon{
    padding: 8px;
    cursor: pointer;
  }
   .mat-header-row {
    background-color:dodgerblue;    
  }
  .mat-header-cell {
    font-weight:lighter;
    font-size: large;
    color: white;
  }